PORT=

NODE_ENV=

DB_HOST=

DB_PORT=

DB_NAME=

DB_USER=

DB_PASSWORD=

JWT_SECRET=

JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=211528862961858

CLOUDINARY_API_SECRET=6A8u-_Mdsx6a7X-MtAzIu5zxVuk

PAGSEGURO_BASE_URL=

PAGSEGURO_TOKEN=

FRONTEND_URL=

MAX_FILE_SIZE=